# 依存ライブラリ（超巨大だからGitHubに上げちゃダメ！）
node_modules/

# ビルド成果物（自動生成されるから不要！）
dist/
dist-ssr/
*.local

# ★秘密の環境変数ファイル（絶対GitHubに上げちゃダメ！）
.env
.env.local
.env.*.local

# ログファイルやキャシュ
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
